@model IReadOnlyList<SuumoScraping.ViewModels.FloorPlanInfo>

@{
    ViewBag.Title = "間取り一覧";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    @foreach (var data in Model)
    {
        <div class="col-sm-3">
            <a href="@Url.Action("Details", "Bukken", new { Id = data.BukkenId })" class="thumbnail">
                <p>@data.FloorArea</p>
                <img src="@Url.Action("Data", "File", new { Id = data.FileId })" class="img-thumbnail" />
            </a>

        </div>
    }
</div>
