@model IReadOnlyList<SuumoScraping.ViewModels.BukkenInfo>

@{
    ViewBag.Title = "List";
}

<div class="table-responsive">
    @(Html
        .Grid(Model)
        .Build(columns =>
        {
            columns.Add(m => m.Title).Filterable(true).Sortable(true);
            columns.Add(m => m.Address).Filterable(true).Sortable(true);
            columns.Add(m => m.Access1).Filterable(true).Sortable(true);
            columns.Add(m => m.Price).Filterable(true).Sortable(true);
            columns.Add(m => m.FloorArea).Filterable(true).Sortable(true);
            columns.Add(m => m.BuiltYears).Filterable(true).Sortable(true).Formatted("{0:yyyy/MM}");
            columns.Add(m => m.ImportedDate).Filterable(true).Sortable(true).Formatted("{0:yyyy/MM/dd}");
            columns.Add(m => m.ImportCount).Filterable(true).Sortable(true);
            columns.Add(m => Html.ActionLink("詳細", "Details", "Bukken", new { id = m.Id }, null)).Encoded(false);
        })
        .Pageable(pager =>
        {
            pager.PagesToDisplay = 10;
            pager.RowsPerPage = 100;
        }))
</div>